{% extends "../layout.njk" %}

{% block content %}
  {{ super() }}

  <div class="container">
    <h2>Menu</h2>

    <a href="{{ ctx.mountPath }}/menu/add" class="btn btn-default btn-add">
      Add <i class="glyphicon glyphicon-plus"></i>
    </a>

    <table class="table table-striped">
      <thead>
      <tr>
        <th>Title</th>
        <th>Link</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      {% for item in items %}
        <tr>
          <td>{{ item.title }}</td>
          <td>{{ item.link }}</td>
          <td>
            <div class="btn-group btn-group-sm">
              <a class="btn btn-default" href="{{ ctx.mountPath }}/menu/edit/{{ item.id }}">edit</a>
              <a class="btn btn-danger" href="{{ ctx.mountPath }}/menu/remove/{{ item.id }}">remove</a>
            </div>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}