{% extends "../layout.njk" %}

{% block content %}
  {{ super() }}

  <div class="container">
    <h2>{{ ctx.originalUrl }}</h2>

    <form action="{{ ctx.originalUrl }}" method="post" enctype="multipart/form-data">
      <strong>Do you want to continue?</strong>
      <br/>
      <button type="submit" autofocus>Yes</button>
      <button type="button" onclick="history.back()">No</button>
    </form>
  </div>
{% endblock %}