{% extends "../layout.njk" %}

{% block content %}
  {{ super() }}

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <h1>{{ ctx.originalUrl }}</h1>
        <form action="{{ ctx.originalUrl }}" method="post" enctype="multipart/form-data">
          {{ form.toHTML() }}
          <br/>
          <button type="submit" class="btn btn-default btn-add" autofocus>Submit</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}