{% extends "./layout.njk" %}

{% block content %}
  {{ super() }}

  <!-- Main Content -->
  <div class="container">
    <h2>Admin page</h2>
    <ul class="list-group">
      <li>
        <a href="{{ ctx.mountPath }}/articles">
          Articles <i class="fa fa-pencil"></i>
        </a>
      </li>
      <li>
        <a href="{{ ctx.mountPath }}/menu">
          Menu <i class="fa fa-pencil"></i>
        </a>
      </li>
      <li>
        <a href="{{ ctx.mountPath }}/posts">
          Posts <i class="fa fa-pencil"></i>
        </a>
      </li>
      <li>
        <a href="{{ ctx.mountPath }}/settings">
          Settings <i class="fa fa-pencil"></i>
        </a>
      </li>
      <li>
        <a href="{{ ctx.mountPath }}/social-networks">
          Social Networks <i class="fa fa-pencil"></i>
        </a>
      </li>
    </ul>
  </div>
{% endblock %}