{% extends "views/layout.njk" %}

{% block content %}
  <!-- Page Header -->
  <!-- Set your background image for this header on the line below. -->
  <header class="intro-header" style="background-image: url('{{ item.imageUrl }}')">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          <div class="page-heading">
            <h1>{{ item.title }}</h1>
            <hr class="small">
            <span class="subheading">{{ item.description }}</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <p>{{ item.content | nl2br }}</p>
      </div>
    </div>
  </div>
{% endblock %}
