{% extends "views/layout.njk" %}

{% block content %}
  <!-- Page Header -->
  <!-- Set your background image for this header on the line below. -->
  <header class="intro-header" style="background-image: url('{{ item.imageUrl }}')">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          <div class="post-heading">
            <h1>{{ item.title }}</h1>
            <h2 class="subheading">{{ item.subtitle }}</h2>
            <span class="meta">Создано {{ item.createdAt | date }}</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          <p>{{ item.content | nl2br }}</p>
        </div>
      </div>
    </div>
  </article>
{% endblock %}
